# DYD Thermostat Data 

## Preprocess

1. Generated CSV file from queries in BigQueary

2. Data separated into states

3. Aggregated the data in BigQuery by vintage of home (every 5 years) and by month

In [1]:
# Dependencies
import pandas as pd
import os
import numpy as np
from pathlib import Path
from datetime import datetime

---

## Combine state CSV Files 
1. Read in files in folders by year and month
2. Add year and month to each merged file

### 2017 January Day

In [2]:
# Create variable for files in directory
files = [f for f in os.listdir("data/day/2017/jan/") if f.endswith(".csv")]

# files

In [4]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
jan_2017 = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/day/2017/jan/" + file)
    jan_2017 = pd.concat([jan_2017, df])
    
jan_2017

,AvgTempCtrl,AvgCool,AvgHeat,Identifier,Country,ProvinceState,City,Age_of_Home__years_,HvacMode,CalendarEvent,Climate,allowCompWithAux,Has_Electric,Has_a_Heat_Pump,Auxilliary_Heat_Fuel_Type
0,674.860140,671.552448,665.972028,be4f2a63b7719c2a69aa285e8a38038c29df8fa6,US,AK,Anchorage,0,heat,auto,Home,False,False,False,Gas
1,700.400000,697.600000,697.600000,be4f2a63b7719c2a69aa285e8a38038c29df8fa6,US,AK,Anchorage,0,heat,hold,Home,False,False,False,Gas
2,689.749196,766.485531,685.254019,fda1f67e8423ed49933c45617ee96aef3bae04ba,US,AK,Wasilla,0,heat,auto,Home,False,False,False,Gas
3,700.015385,703.780000,703.647692,fda1f67e8423ed49933c45617ee96aef3bae04ba,US,AK,Wasilla,0,heat,hold,Home,False,False,False,Gas
4,644.954545,710.000000,710.000000,364d90d4305e64cf8a54685a3669aca9ba7667ed,US,AK,Palmer,0,heat,hold,Home,False,False,False,Gas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,675.750000,730.000000,680.000000,7249632b05298378ea9944b850b084262a1c3cf3,US,WV,Maidsville,0,auto,hold,Home,True,False,True,Electric
10,715.203046,724.822335,724.822335,0294595998430fa9228ff8b203c54f8378f9560c,US,WV,Huntington,0,cool,auto,Home,False,False,False,Gas
11,722.718750,775.000000,725.000000,3a38dd3de8441afd6215d6a91bf033c2c646b786,US,WV,Morgantown,0,auto,auto,Home,True,False,True,Electric
12,690.000000,722.000000,672.000000,527196dd67df36085c7eb0f7137ef298e0bb60b1,US,WV,Charles Town,0,auto,auto,Home,False,False,False,Gas
0,735.030303,788.787879,738.303030,9d6a98350302417c9b2f10ae3c235d52a3bf7097,US,WY,Sheridan,0,auto,hold,Home,False,False,False,Gas

In [9]:
# See all the unique names for states

# jan_2017.ProvinceState.unique()

In [11]:
# Add year and month

jan_2017["Year"] = "2017"
jan_2017["Month"] = "Jan"

jan_2017

,AvgTempCtrl,AvgCool,AvgHeat,Identifier,Country,ProvinceState,City,Age_of_Home__years_,HvacMode,CalendarEvent,Climate,allowCompWithAux,Has_Electric,Has_a_Heat_Pump,Auxilliary_Heat_Fuel_Type,Year,Month
0,674.860140,671.552448,665.972028,be4f2a63b7719c2a69aa285e8a38038c29df8fa6,US,AK,Anchorage,0,heat,auto,Home,False,False,False,Gas,2017,Jan
1,700.400000,697.600000,697.600000,be4f2a63b7719c2a69aa285e8a38038c29df8fa6,US,AK,Anchorage,0,heat,hold,Home,False,False,False,Gas,2017,Jan
2,689.749196,766.485531,685.254019,fda1f67e8423ed49933c45617ee96aef3bae04ba,US,AK,Wasilla,0,heat,auto,Home,False,False,False,Gas,2017,Jan
3,700.015385,703.780000,703.647692,fda1f67e8423ed49933c45617ee96aef3bae04ba,US,AK,Wasilla,0,heat,hold,Home,False,False,False,Gas,2017,Jan
4,644.954545,710.000000,710.000000,364d90d4305e64cf8a54685a3669aca9ba7667ed,US,AK,Palmer,0,heat,hold,Home,False,False,False,Gas,2017,Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,675.750000,730.000000,680.000000,7249632b05298378ea9944b850b084262a1c3cf3,US,WV,Maidsville,0,auto,hold,Home,True,False,True,Electric,2017,Jan
10,715.203046,724.822335,724.822335,0294595998430fa9228ff8b203c54f8378f9560c,US,WV,Huntington,0,cool,auto,Home,False,False,False,Gas,2017,Jan
11,722.718750,775.000000,725.000000,3a38dd3de8441afd6215d6a91bf033c2c646b786,US,WV,Morgantown,0,auto,auto,Home,True,False,True,Electric,2017,Jan
12,690.000000,722.000000,672.000000,527196dd67df36085c7eb0f7137ef298e0bb60b1,US,WV,Charles Town,0,auto,auto,Home,False,False,False,Gas,2017,Jan
0,735.030303,788.787879,738.303030,9d6a98350302417c9b2f10ae3c235d52a3bf7097,US,WY,Sheridan,0,auto,hold,Home,False,False,False,Gas,2017,Jan

### 2017 February Day

In [12]:
# Create variable for files in directory
files = [f for f in os.listdir("data/day/2017/feb/") if f.endswith(".csv")]

# files

In [13]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
feb_2017 = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/day/2017/feb/" + file)
    feb_2017 = pd.concat([feb_2017, df])
    
feb_2017

,AvgTempCtrl,AvgCool,AvgHeat,Identifier,Country,ProvinceState,City,Age_of_Home__years_,HvacMode,CalendarEvent,Climate,allowCompWithAux,Has_Electric,Has_a_Heat_Pump,Auxilliary_Heat_Fuel_Type
0,694.970588,682.500000,680.735294,be4f2a63b7719c2a69aa285e8a38038c29df8fa6,US,AK,Anchorage,0,heat,auto,Home,False,False,False,Gas
1,685.013699,686.835616,686.109589,0404ace1bcdf88d917bd860a04cd6c66fb51679f,US,AK,Homer,0,heat,hold,Home,True,False,False,Gas
2,593.161905,759.380952,655.857143,364d90d4305e64cf8a54685a3669aca9ba7667ed,US,AK,Palmer,0,heat,auto,Home,False,False,False,Gas
3,628.294118,650.000000,620.000000,364d90d4305e64cf8a54685a3669aca9ba7667ed,US,AK,Palmer,0,heat,hold,Home,False,False,False,Gas
4,718.041270,720.095238,719.950794,fda1f67e8423ed49933c45617ee96aef3bae04ba,US,AK,Wasilla,0,heat,hold,Home,False,False,False,Gas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,719.593291,727.259958,707.297694,0294595998430fa9228ff8b203c54f8378f9560c,US,WV,Huntington,0,auto,auto,Home,False,False,False,Gas
8,729.894097,776.666667,726.666667,3a38dd3de8441afd6215d6a91bf033c2c646b786,US,WV,Morgantown,0,auto,hold,Home,True,False,True,Electric
9,705.145455,775.000000,725.000000,3a38dd3de8441afd6215d6a91bf033c2c646b786,US,WV,Morgantown,0,auto,auto,Home,True,False,True,Electric
10,741.208333,738.500000,738.500000,0294595998430fa9228ff8b203c54f8378f9560c,US,WV,Huntington,0,cool,hold,Home,False,False,False,Gas
0,657.339286,740.000000,660.000000,9d6a98350302417c9b2f10ae3c235d52a3bf7097,US,WY,Sheridan,0,auto,hold,Home,False,False,False,Gas

In [15]:
# Add year and month

feb_2017["Year"] = "2017"
feb_2017["Month"] = "Feb"

feb_2017

,AvgTempCtrl,AvgCool,AvgHeat,Identifier,Country,ProvinceState,City,Age_of_Home__years_,HvacMode,CalendarEvent,Climate,allowCompWithAux,Has_Electric,Has_a_Heat_Pump,Auxilliary_Heat_Fuel_Type,Year,Month
0,694.970588,682.500000,680.735294,be4f2a63b7719c2a69aa285e8a38038c29df8fa6,US,AK,Anchorage,0,heat,auto,Home,False,False,False,Gas,2017,Feb
1,685.013699,686.835616,686.109589,0404ace1bcdf88d917bd860a04cd6c66fb51679f,US,AK,Homer,0,heat,hold,Home,True,False,False,Gas,2017,Feb
2,593.161905,759.380952,655.857143,364d90d4305e64cf8a54685a3669aca9ba7667ed,US,AK,Palmer,0,heat,auto,Home,False,False,False,Gas,2017,Feb
3,628.294118,650.000000,620.000000,364d90d4305e64cf8a54685a3669aca9ba7667ed,US,AK,Palmer,0,heat,hold,Home,False,False,False,Gas,2017,Feb
4,718.041270,720.095238,719.950794,fda1f67e8423ed49933c45617ee96aef3bae04ba,US,AK,Wasilla,0,heat,hold,Home,False,False,False,Gas,2017,Feb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,719.593291,727.259958,707.297694,0294595998430fa9228ff8b203c54f8378f9560c,US,WV,Huntington,0,auto,auto,Home,False,False,False,Gas,2017,Feb
8,729.894097,776.666667,726.666667,3a38dd3de8441afd6215d6a91bf033c2c646b786,US,WV,Morgantown,0,auto,hold,Home,True,False,True,Electric,2017,Feb
9,705.145455,775.000000,725.000000,3a38dd3de8441afd6215d6a91bf033c2c646b786,US,WV,Morgantown,0,auto,auto,Home,True,False,True,Electric,2017,Feb
10,741.208333,738.500000,738.500000,0294595998430fa9228ff8b203c54f8378f9560c,US,WV,Huntington,0,cool,hold,Home,False,False,False,Gas,2017,Feb
0,657.339286,740.000000,660.000000,9d6a98350302417c9b2f10ae3c235d52a3bf7097,US,WY,Sheridan,0,auto,hold,Home,False,False,False,Gas,2017,Feb

### 2017 March Day

In [21]:
# Create variable for files in directory
files = [f for f in os.listdir("data/day/2017/mar/") if f.endswith(".csv")]

# files

In [18]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
mar_2017 = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/day/2017/mar/" + file)
    mar_2017 = pd.concat([mar_2017, df])
    
mar_2017

Empty DataFrame
Columns: []
Index: []

In [20]:
# Add year and month

mar_2017["Year"] = "2017"
mar_2017["Month"] = "Mar"

mar_2017

Empty DataFrame
Columns: [Year, Month]
Index: []

### 2017 April Day

In [24]:
# Create variable for files in directory
files = [f for f in os.listdir("data/day/2017/apr/") if f.endswith(".csv")]

# files

In [25]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
apr_2017 = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/day/2017/apr/" + file)
    apr_2017 = pd.concat([apr_2017, df])
    
apr_2017

Empty DataFrame
Columns: []
Index: []

In [27]:
# Add year and month

apr_2017["Year"] = "2017"
apr_2017["Month"] = "Apr"

apr_2017

Empty DataFrame
Columns: [Year, Month]
Index: []

### 2017 May Day

In [28]:
# Create variable for files in directory
files = [f for f in os.listdir("data/day/2017/may/") if f.endswith(".csv")]

# files

In [29]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
may_2017 = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/day/2017/may/" + file)
    may_2017 = pd.concat([may_2017, df])
    
may_2017

Empty DataFrame
Columns: []
Index: []

In [30]:
# Add year and month

may_2017["Year"] = "2017"
may_2017["Month"] = "May"

may_2017

Empty DataFrame
Columns: [Year, Month]
Index: []

### 2017 June Day

In [31]:
# Create variable for files in directory
files = [f for f in os.listdir("data/day/2017/jun/") if f.endswith(".csv")]

# files

In [32]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
jun_2017 = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/day/2017/jun/" + file)
    jun_2017 = pd.concat([jun_2017, df])
    
jun_2017

Empty DataFrame
Columns: []
Index: []

In [33]:
# Add year and month

jun_2017["Year"] = "2017"
jun_2017["Month"] = "Jun"

jun_2017

Empty DataFrame
Columns: [Year, Month]
Index: []

### 2017 July Day

In [34]:
# Create variable for files in directory
files = [f for f in os.listdir("data/day/2017/jul/") if f.endswith(".csv")]

# files

In [35]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
jul_2017 = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/day/2017/jul/" + file)
    jul_2017 = pd.concat([jul_2017, df])
    
jul_2017

Empty DataFrame
Columns: []
Index: []

In [36]:
# Add year and month

jul_2017["Year"] = "2017"
jul_2017["Month"] = "July"

jul_2017

Empty DataFrame
Columns: [Year, Month]
Index: []

### 2017 August Day

In [37]:
# Create variable for files in directory
files = [f for f in os.listdir("data/day/2017/aug/") if f.endswith(".csv")]

# files

In [38]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
aug_2017 = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/day/2017/aug/" + file)
    aug_2017 = pd.concat([aug_2017, df])
    
aug_2017

Empty DataFrame
Columns: []
Index: []

In [39]:
# Add year and month

aug_2017["Year"] = "2017"
aug_2017["Month"] = "Aug"

aug_2017

Empty DataFrame
Columns: [Year, Month]
Index: []

### 2017 September Day

In [40]:
# Create variable for files in directory
files = [f for f in os.listdir("data/day/2017/sep/") if f.endswith(".csv")]

# files

In [41]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
sep_2017 = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/day/2017/sep/" + file)
    sep_2017 = pd.concat([sep_2017, df])
    
sep_2017

Empty DataFrame
Columns: []
Index: []

In [42]:
# Add year and month

sep_2017["Year"] = "2017"
sep_2017["Month"] = "Sep"

sep_2017

Empty DataFrame
Columns: [Year, Month]
Index: []

### 2017 October Day

In [43]:
# Create variable for files in directory
files = [f for f in os.listdir("data/day/2017/oct/") if f.endswith(".csv")]

# files

In [44]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
oct_2017 = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/day/2017/oct/" + file)
    oct_2017 = pd.concat([oct_2017, df])
    
oct_2017

Empty DataFrame
Columns: []
Index: []

In [45]:
# Add year and month

oct_2017["Year"] = "2017"
oct_2017["Month"] = "Oct"

oct_2017

Empty DataFrame
Columns: [Year, Month]
Index: []

### 2017 November Day

In [46]:
# Create variable for files in directory
files = [f for f in os.listdir("data/day/2017/nov/") if f.endswith(".csv")]

# files

In [47]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
nov_2017 = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/day/2017/nov/" + file)
    nov_2017 = pd.concat([nov_2017, df])
    
nov_2017

Empty DataFrame
Columns: []
Index: []

In [48]:
# Add year and month

nov_2017["Year"] = "2017"
nov_2017["Month"] = "Nov"

nov_2017

Empty DataFrame
Columns: [Year, Month]
Index: []

### 2017 December Day

In [49]:
# Create variable for files in directory
files = [f for f in os.listdir("data/day/2017/dec/") if f.endswith(".csv")]

# files

In [50]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
dec_2017 = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/day/2017/dec/" + file)
    dec_2017 = pd.concat([dec_2017, df])
    
dec_2017

Empty DataFrame
Columns: []
Index: []

In [51]:
# Add year and month

dec_2017["Year"] = "2017"
dec_2017["Month"] = "Dec"

dec_2017

Empty DataFrame
Columns: [Year, Month]
Index: []

### Merge all 2017

In [56]:
All2017Day = jan_2017.append(feb_2017, ignore_index=True)
All2017Day = All2017Day.append(mar_2017, ignore_index=True)
All2017Day = All2017Day.append(apr_2017, ignore_index=True)
All2017Day = All2017Day.append(may_2017, ignore_index=True)
All2017Day = All2017Day.append(jun_2017, ignore_index=True)
All2017Day = All2017Day.append(jul_2017, ignore_index=True)
All2017Day = All2017Day.append(aug_2017, ignore_index=True)
All2017Day = All2017Day.append(sep_2017, ignore_index=True)
All2017Day = All2017Day.append(oct_2017, ignore_index=True)
All2017Day = All2017Day.append(nov_2017, ignore_index=True)
All2017Day = All2017Day.append(dec_2017, ignore_index=True)

In [55]:
All2017Day

,AvgTempCtrl,AvgCool,AvgHeat,Identifier,Country,ProvinceState,City,Age_of_Home__years_,HvacMode,CalendarEvent,Climate,allowCompWithAux,Has_Electric,Has_a_Heat_Pump,Auxilliary_Heat_Fuel_Type,Year,Month
0,674.860140,671.552448,665.972028,be4f2a63b7719c2a69aa285e8a38038c29df8fa6,US,AK,Anchorage,0.0,heat,auto,Home,False,False,False,Gas,2017,Jan
1,700.400000,697.600000,697.600000,be4f2a63b7719c2a69aa285e8a38038c29df8fa6,US,AK,Anchorage,0.0,heat,hold,Home,False,False,False,Gas,2017,Jan
2,689.749196,766.485531,685.254019,fda1f67e8423ed49933c45617ee96aef3bae04ba,US,AK,Wasilla,0.0,heat,auto,Home,False,False,False,Gas,2017,Jan
3,700.015385,703.780000,703.647692,fda1f67e8423ed49933c45617ee96aef3bae04ba,US,AK,Wasilla,0.0,heat,hold,Home,False,False,False,Gas,2017,Jan
4,644.954545,710.000000,710.000000,364d90d4305e64cf8a54685a3669aca9ba7667ed,US,AK,Palmer,0.0,heat,hold,Home,False,False,False,Gas,2017,Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11901,719.593291,727.259958,707.297694,0294595998430fa9228ff8b203c54f8378f9560c,US,WV,Huntington,0.0,auto,auto,Home,False,False,False,Gas,2017,Feb
11902,729.894097,776.666667,726.666667,3a38dd3de8441afd6215d6a91bf033c2c646b786,US,WV,Morgantown,0.0,auto,hold,Home,True,False,True,Electric,2017,Feb
11903,705.145455,775.000000,725.000000,3a38dd3de8441afd6215d6a91bf033c2c646b786,US,WV,Morgantown,0.0,auto,auto,Home,True,False,True,Electric,2017,Feb
11904,741.208333,738.500000,738.500000,0294595998430fa9228ff8b203c54f8378f9560c,US,WV,Huntington,0.0,cool,hold,Home,False,False,False,Gas,2017,Feb
11905,657.339286,740.000000,660.000000,9d6a98350302417c9b2f10ae3c235d52a3bf7097,US,WY,Sheridan,0.0,auto,hold,Home,False,False,False,Gas,2017,Feb